# yamllint settings for CI (Phase 18)
extends: default
ignore: |
  venv/
  .terraform/
  k8s_samples/
rules:
  line-length:
    max: 170
  document-start: disable
  truthy:
    allowed-values: ['true', 'false', 'on']
    check-keys: false
  comments:
    min-spaces-from-content: 1
  braces:
    max-spaces-inside: 1
  indentation:
    indent-sequences: consistent
